.add-to-calendar {
  position: relative;
}

.add-to-calendar-dropdown {
  position: absolute;
  background-color: #fff;
  padding: 1rem 0;
  width: 11rem;
  visibility: hidden;
  opacity: 0;

  button {
    margin: 1rem 0.5rem;
  }

  &:hover,
  .btn--add-to-calendar:hover + & {
    visibility: visible;
    opacity: 1;
  }
}

.calendar-day {
  font-size: 1.15rem;
}
