.add-to-calendar {
  position: relative;
}

.add-to-calendar-dropdown {
  position: absolute;
  background-color: #fff;
  padding: 1rem 0;
  width: 23rem;
  visibility: hidden;
  opacity: 0;
  left: -10rem;

  button {
    margin: 0rem 0.5rem;
  }

  .btn--add-to-calendar {
    display: inline;
  }

  &:hover,
  .btn--add-to-calendar:hover + & {
    visibility: visible;
    opacity: 1;
  }
}

.calendar-segment {
  display: flex;
  justify-content: space-between;
  margin: 1rem 1rem;
  white-space: nowrap;
  .calendar-add {
    display: inline;
  }
  .calendar-remove {
    display: none;
  }
  .calendar-btn-active {
    .calendar-add {
      display: none;
    }
    .calendar-remove {
      display: inline;
    }
  }
}

.calendar-day {
  font-size: 1.8rem;
  color: $color-grey-dark-2;
  font-weight: 600;
}
